@font-face {
    font-family: Hanken;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --light-lavender: hsl(241, 100%, 89%);
    --light-lavender-transparent: hsla(241, 100%, 89%, 0.5);

    --white: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Hanken, sans-serif;
}

header {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.15rem;
    color: var(--light-lavender);
    font-weight: 600;
}

.avg-score-container {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 100%;
    max-width: 8.5rem;
    margin: 1.5rem auto;
    color: var(--light-lavender-transparent);
    font-weight: 600;
    font-size: 1rem;
    padding: 1.5rem;
}

.user-avg-score {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: 700;
}